@model phiNdus.fundus.Core.Web.Models.LogOnModel

@{
    ViewBag.Title = "Anmelden";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Anmelden
}

<h2>Anmelden</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Fehler bei der Anmeldung")

    <div class="formular-box">        
        <p>Im Staging-Deployment sind diese Benutzer vordefiniert:</p>
        <ul>
            <li>user@example.com, 1234</li>
            <li>admin@example.com, 1234</li>
        </ul>
        <p class="formular-item">
            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email, new { @class = "text-input" })<br />
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <p class="formular-item">
            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password, new { @class = "text-input" })<br />
            @Html.ValidationMessageFor(m => m.Password)
        </p>            
        <p class="formular-item">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </p>
        <p class="formular-action">
            <input type="submit" value="Anmelden" /> | @Html.ActionLink("Passwort vergessen?", "ResetPassword") | @Html.ActionLink("Neues Konto erstellen", "SignUp")
        </p>
    </div>
}
