@{
    ViewBag.Title = "Bestellungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
     @Html.ActionLink("Bestellungen", "Index") &gt; &Uuml;bersicht
}

@*<h2>Bestellungen</h2>

<p>
    @Html.ActionLink("Alle", "All") |
    @Html.ActionLink("Provisorisch", "Pending") |
    @Html.ActionLink("Bestätigt", "Approved") |
    @Html.ActionLink("Abgeschlossen", "Closed") |
    @Html.ActionLink("Abgelehnt", "Rejected")
</p>*@

@RenderBody()
