@model phiNdus.fundus.Web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "Bestellung prüfen";
}

<h2>@ViewBag.Title</h2>
<p></p>
<h3>Artikel</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Anzahl</th>
            <th>Stückpreis</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Cart.Items.Count == 0)
        {
            <tr>
                <td class="no-data" colspan="6">TODO</td>
            </tr>
        }
        else
        {
            for (var idx = 0; idx < Model.Cart.Items.Count; idx++)
            {
                @Html.HiddenFor(x => Model.Cart.Items[idx].Id)
                <tr>
                    <td>@Model.Cart.Items[idx].Caption</td>    
                    <td>@Html.DisplayFor(m => m.Cart.Items[idx].Begin)</td>
                    <td>@Html.DisplayFor(m => m.Cart.Items[idx].End)</td>
                    <td style="text-align: right;">@Html.DisplayFor(m => m.Cart.Items[idx].Amount)</td>
                    <td style="text-align: right;">@Html.DisplayFor(m => m.Cart.Items[idx].UnitPrice)</td>
                    <td style="text-align: right;">@Html.DisplayFor(m => m.Cart.Items[idx].LineTotal)</td>
                </tr>       
            }
            <tr>
                <td colspan="5" style="text-align: right; font-weight: bold;">Total</td>
                <td style="text-align: right; font-weight: bold;">@Html.DisplayFor(m => m.Cart.TotalPrice)</td>
            </tr>
        }
    </tbody>
</table>
<h3>Benutzer</h3>
<p>@Model.Customer.DisplayName</p>

@using (Html.BeginForm())
{
    if (Model.Cart.Items.Count > 0)
    {
    <div class="form-actions">
        @Html.SubmitButton("Bestellen")
    </div>
    }
}