@model phiNdus.fundus.Web.ViewModels.CartViewModel
@{
    ViewBag.Title = "Warenkorb";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
     @Html.ActionLink("Warenkorb", "Index") &gt; &Uuml;bersicht
}

@using (Html.BeginForm())
{
    
<h2>@ViewBag.Title</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Anzahl</th>
            <th>Stückpreis</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td class="no-data" colspan="6">Der Warenkorb ist leer.</td>
            </tr>
        }
        else
        {
            for (var idx = 0; idx < Model.Items.Count; idx++)
            {
                @Html.HiddenFor(x => Model.Items[idx].Id)
                <tr>
                    <td>@Model.Items[idx].Caption</td>    
                    <td>@Html.EditorFor(x => Model.Items[idx].Begin)</td>
                    <td>@Html.EditorFor(x => Model.Items[idx].End)</td>
                    <td>@Html.EditorFor(x => Model.Items[idx].Amount)</td>
                    <td style="text-align:right">@Html.DisplayFor(x => Model.Items[idx].UnitPrice)</td>
                    <td style="text-align:right">@Html.DisplayFor(x => Model.Items[idx].LineTotal)</td>
                    <td>
                        @Html.ActionLink(new Appearance { Caption = "Entfernen", Button = Button.Danger }, "Remove", new { id = Model.Items[idx].Id, version = Model.Items[idx].Version })
                    </td>
                </tr>       
            }
            <tr>
                <td colspan="5" style="text-align:right; font-weight:bold;">Total</td>
                <td style="text-align:right; font-weight:bold;">@Html.DisplayFor(m => m.TotalPrice)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
        if (Model.Items.Count > 0)
        {
    <div class="form-actions">
        @Html.SubmitButton("Aktualisieren", "")
        @Html.ActionLink(new Appearance { Button = Button.Primary, Caption="Bestellen" }, "CheckOut")
    </div>
}
}