@model PropertyDefinitionViewModel

@{
    ViewBag.Title = "Neue Eigenschaft erfassen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Eigenschaften", "List") &gt;
     Erfassen
}

<h2>Neue Eigenschaft erfassen</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    
    <p>
        <input type="submit" value="Speichern" /> | @Html.ActionLink("Zurück zur Übersicht", "Index")
    </p>
}

