@model ArticleViewModel
      
@{
    ViewBag.Title = "Details";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Details
}

<h2>Artikeldetails</h2>

@Html.DisplayForModel()
    
<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index") |
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }) |
    @Ajax.ActionLink("Löschen", "Delete", new { id = Model.Id, version = Model.Version }, new AjaxOptions { Confirm = "Möchten Sie diesen Artikel wirklich löschen?", HttpMethod = "Delete", UpdateTargetId = "messagebox" })
</p>
