@model phiNdus.fundus.Web.ViewModels.ShopArticleViewModel

<h2><a href="/#/shop/@Model.Article.ArticleGuid" target="_blank">@Model.Article.Name</a></h2>
<p></p>
<div class="tabbable tabs-left">
    <div class="row">
        <div class="col-xs-4 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#@Model.Article.Id-D" data-toggle="tab">Beschreibung</a></li>
                @if (!String.IsNullOrWhiteSpace(Model.Article.Specification))
                {
                    <li class=""><a href="#@Model.Article.Id-S" data-toggle="tab">Spezifikation</a></li>
                }
                <li class=""><a href="#@Model.Article.Id-I" data-toggle="tab">Bilder (@Model.Article.Images.Count)</a></li>
                <li class=""><a href="#@Model.Article.Id-F" data-toggle="tab">Dokumente (@Model.Article.Documents.Count)</a></li>
                <li class=""><a href="#@Model.Article.Id-A" data-toggle="tab">Verfügbarkeit</a></li>
            </ul>
        </div>
        <div class="tab-content col-xs-8 col-md-9">
            <div class="tab-pane active" id="@Model.Article.Id-D">
                <span style="white-space: pre">@Html.Raw(Model.Article.Description)</span>
            </div>

            @if (!String.IsNullOrWhiteSpace(Model.Article.Specification))
            {
                <div class="tab-pane" id="@Model.Article.Id-S">
                    <span style="white-space: pre">@Html.Raw(Model.Article.Specification)</span>
                </div>
            }

            <div class="tab-pane" id="@Model.Article.Id-I">
                @Html.Partial("Article_Images", Model)
            </div>

            <div class="tab-pane" id="@Model.Article.Id-F">
                @Html.Partial("Article_Documents", Model)
            </div>

            <div class="tab-pane" id="@Model.Article.Id-A">
                @Html.Partial("Article_Availability", Model)
            </div>
        </div>
    </div>
</div>
    

    @if (!Request.IsAuthenticated)
    {
        <div class="alert alert-info" role="alert">            
            Melden Sie sich an, um einen Artikel auszuleihen.
        </div>        
    }
    else
    {
        if (Model.CanUserAddToCart)
        {
            @Html.Partial("Article_AddToCart", Model.CartItem)
        }
        else
        {
            <div class="alert alert-info" role="alert">            
                Sie müssen Mitglied dieser Organisation sein, um den Artikel auszuleihen.
            </div>     
        }
    }

