@model ShopSearchResultViewModel
           
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="row">
    <div class="span1">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="span7" style="padding-top:5px;">
        @using (Ajax.BeginForm("Search", ControllerNames.Shop, new AjaxOptions {
            HttpMethod = "POST",
            LoadingElementId = "query-loading",
            UpdateTargetId="search-results"  }, new { @class = "form-search" }))
        {
            <input type="text" name="QueryString" class="input-medium search-query" value="@Model.Query" placeholder="Suchen" />
            <span class="muted"> in </span>
            @Html.DropDownListFor(m => m.QueryOrganizationId, new SelectList(Model.Organizations, "Id", "Name", Model.QueryOrganizationId), "allen Organisationen")
            <button type="submit" class="btn btn-primary">phinden!</button>
            <span class="help-inline hide" id="query-loading">
                <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" style="vertical-align:middle;" />
            </span>
        }
    </div>
    <div class="span4">
        <div class="toolbar pull-right">
            <div class="btn-group">
                @Ajax.RawActionLink("<i class=\"icon-th-large\"></i>", "Large", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
                @Ajax.RawActionLink("<i class=\"icon-th\"></i>", "Small", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
                @Ajax.RawActionLink("<i class=\"icon-th-list\"></i>", "Table", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
            </div>
        </div>
    </div>
</div>
<div id="search-results">
    @RenderBody()
</div>
<div class="tabbable" id="selected-articles" style="clear:both;">
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
    </div>
</div>
