@using Phundus.Web
@model ShopSearchResultViewModel
           
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="row">
    <div class="col-md-8">
        @using (Ajax.BeginForm("Search", ControllerNames.Shop, new AjaxOptions {
                HttpMethod = "POST",
                LoadingElementId = "query-loading",
                UpdateTargetId = "search-results" },
                new { @class = "form-search form-inline" }))
        {
            <input type="text" name="QueryString" class="search-query form-control" value="@Model.Query" placeholder="Suchen" />
            <span class="muted"> in </span>
            @Html.DropDownListFor(m => m.QueryOrganizationId, new SelectList(Model.Organizations, "OrganizationId", "Name", Model.QueryOrganizationId), "allen Organisationen", new {@class="form-control"})
            <button type="submit" class="btn btn-primary" onclick="submit()">phinden!</button>
            <span class="help-inline hide" id="query-loading">
                <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" style="vertical-align:middle;" />
            </span>
        }
    </div>
    <div class="col-md-4">
        <div class="toolbar pull-right">
            <div class="btn-group">
                @Ajax.RawActionLink("<span class=\"glyphicon glyphicon-th-large\"></span>", "Large", new { }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    LoadingElementId = "query-loading",
                    UpdateTargetId = "search-results"
                }, new { @class = "btn btn-default" })
                @Ajax.RawActionLink("<span class=\"glyphicon glyphicon-th\"></span>", "Small", new { }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    LoadingElementId = "query-loading",
                    UpdateTargetId = "search-results"
                }, new { @class = "btn btn-default" })
                @Ajax.RawActionLink("<span class=\"glyphicon glyphicon-th-list\"></span>", "Table", new { }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    LoadingElementId = "query-loading",
                    UpdateTargetId = "search-results"
                }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
<div id="search-results" style="margin-top:20px">
    @RenderBody()
</div>
<div class="tabbable" id="selected-articles" style="clear:both;">
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
    </div>
</div>
