@using Phundus.Web
@model ShopSearchResultViewModel

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Preis pro Woche</th>
            <th>Mitgliederpreis</th>
            <th>Organisation</th>
            <th style="width: 60px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Items) {
            <tr>
                <td>@each.Name</td>
                <td>CHF @each.PublicPrice.ToString("N")</td>
                @if (each.MemberPrice.HasValue)
                {
                    <td>CHF @each.MemberPrice.Value.ToString("N")</td>
                }
                else
                {
                    <td></td>
                }
                <td>@each.OwnerName</td>
                <td><a href="/#/shop/@each.ItemId" target="_blank">Details</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.DisplayFor(m => m.PageSelectorModel)
