@using Phundus.Web
@model ShopSearchResultViewModel

<div class="row">
    @foreach (var each in Model.Articles)
    {
        <div class="col-xs-4 col-md-2">
            <div class="thumbnail">
                <p class="muted">@each.OrganizationName</p>
                <div style="text-align:center; height:110px;">
                    <a href="@String.Concat(Url.Content("~/"), "shop/article/" + each.Id)" class="fundus-shop-showArticle" article-id="@each.Id">
                        @if (!String.IsNullOrWhiteSpace(each.ImageFileName))
                        {
                            <img src="@String.Concat(Html.Raw(Url.Content(each.ImageFileName)), ".ashx?maxwidth=160&maxheight=110")" alt=""/>
                        }
                        else
                        {
                            <img src="https://placehold.it/160x110" alt="" width="160" height="110" />
                        }
                    </a>
                </div>
                <h5>
                    @if (each.Name == null)
                    {
                        @Html.Raw("&nbsp;");
                    }
                    else
                    {
                        <a href="@String.Concat(Url.Content("~/"), "shop/article/" + each.Id)" class="fundus-shop-showArticle" article-id="@each.Id">@each.Name</a>
                    }
                </h5>
                <p>CHF @each.PublicPrice.ToString("N")
                    @if (each.MemberPrice.HasValue)
                    {
                        <span class="text-muted"> (@each.MemberPrice.Value.ToString("N"))</span>
                    }
                    / Woche
                </p>                
            </div>
        </div>
    }
</div>
@Html.DisplayFor(m => m.PageSelectorModel)
