@model phiNdus.fundus.Web.ViewModels.ShopArticleViewModel

<h2>@Model.Caption</h2>
<p></p>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#@Model.Id-D" data-toggle="tab">Beschreibung</a></li>
        @if (!String.IsNullOrWhiteSpace(Model.Specification))
        {
            <li class=""><a href="#@Model.Id-S" data-toggle="tab">Spezifikation</a></li>
        }
        <li class=""><a href="#@Model.Id-I" data-toggle="tab">Bilder (@Model.Images.Count)</a></li>
        <li class=""><a href="#@Model.Id-F" data-toggle="tab">Dokumente (@Model.Documents.Count)</a></li>
        <li class=""><a href="#@Model.Id-A" data-toggle="tab">Verfügbarkeit</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="@Model.Id-D">
            @Html.Raw(Model.Description)
        </div>
        
        @if (!String.IsNullOrWhiteSpace(Model.Specification))
        {
            <div class="tab-pane" id="@Model.Id-S">
                @Html.Raw(Model.Specification)
            </div>
        }

        <div class="tab-pane" id="@Model.Id-I">
            @Html.Partial("Article_Images", Model)
        </div>

        <div class="tab-pane" id="@Model.Id-F">
            @Html.Partial("Article_Documents", Model)
        </div>

        <div class="tab-pane" id="@Model.Id-A">
            @Html.Partial("Article_Availability", Model)
        </div>
    </div>
</div>
    
@if (!Request.IsAuthenticated)
{
    <p>Melden Sie sich an, um einen Artikel auszuleihen.</p>
}
else
{
    if (Model.CanUserAddToCart)
    {
        @Html.Partial("Article_AddToCart", Model.CartItem)
    }
    else
    {
        <p>Sie müssen Mitglied dieser Organisation sein, um den Artikel auszuleihen.</p>
    }
}

