@using Phundus.Web
@model ShopSearchResultViewModel

<div class="row">
    @foreach (var each in Model.Items)
    {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <p class="muted">@each.OwnerName</p>
                <div style="text-align:center; height:180px;">
                    <a href="/#/shop/@each.ArticleGuid" target="_blank">
                        @if (!String.IsNullOrWhiteSpace(each.PreviewImageFileName))
                        {
                            <img src="@String.Concat(Html.Raw(Url.Content(each.PreviewImageFileName)), ".ashx?maxwidth=260&maxheight=180")" alt="" />
                        }
                        else
                        {
                            <img src="https://placehold.it/260x180" alt="" width="260" height="180" />
                        }
                    </a>

</div>
                <h5>
                    @if (each.Name == null)
                    {
                        @Html.Raw("&nbsp;");
                    }
                    else
                    {
                        <a href="/#/shop/@each.ArticleGuid" target="_blank">@each.Name</a>
                    }
                </h5>
                <p>
                    CHF @each.PublicPrice.ToString("N")
                    @if (each.MemberPrice.HasValue)
                    {
                        <span class="text-muted"> (@each.MemberPrice.Value.ToString("N"))</span>
                    }
                    / Woche
                </p>   
            </div>
        </div>
    }
</div>
@Html.DisplayFor(m => m.PageSelectorModel)



