@model FieldViewModel

@{
    ViewBag.Title = "Neue Eigenschaft";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     @ViewBag.Title
}

<h2>Materialeigenschaften</h2>

@using (Html.BeginForm("Create", "Fields", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
    <legend>Neue Eigenschaft erstellen</legend>
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-actions">
        @Html.SubmitButton("Speichern")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, "Index")
    </div>
    </fieldset>
}

