@model FieldViewModel

@{
    ViewBag.Title = "Eigenschaft \"" + Model.Caption + "\" bearbeiten";
}

<h2>Materialeigeschaften</h2>
<p></p>
@using (Html.BeginForm("Edit", ControllerNames.Fields, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>@ViewBag.Title</legend>
    
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Version)

    @Html.EditorForModel()

    <div class="form-actions">
        @Html.SubmitButton("Speichern")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, FieldsActionNames.Index)
    </div>
    </fieldset>
}
