@model FieldViewModel

@{
    ViewBag.Title = "Eigenschaft \"" + Model.Caption + "\" bearbeiten";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     @ViewBag.Title
}

<h2>Materialeigeschaften</h2>

@using (Html.BeginForm("Edit", ControllerNames.Fields, FormMethod.Post, new { @class = "form-horizontal" })) {
    <fieldset>
        <legend>@ViewBag.Title</legend>
    
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Version)

    @Html.EditorForModel()

    <div class="form-actions">
        @Html.SubmitButton("Speichern")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, "Index")
    </div>
    </fieldset>
}
