@inherits System.Web.Mvc.WebViewPage<dynamic>

@Html.ActionLink("Home", "Index", "Shop")
@if (Request.IsAuthenticated) {
    //TODO: Administratoren
    @Html.ActionLink("Bestellungen", "Index", "Order")
    @Html.ActionLink("Verträge", "Index", "Contract")
    @Html.ActionLink("Artikel", "Index", "Article")
    @Html.ActionLink("Benutzer", "Index", "User")
    @Html.ActionLink("Einstellungen", "Index", "Setting")
}
else
{ 
    @*<a href="#">HOME</a>*@
}