@model phiNdus.fundus.Core.Web.ViewModels.ArticleViewModel


    <h2>@Model.Caption</h2>
    <p></p>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#@Model.Id-D" data-toggle="tab">Beschreibung</a></li>
            <li class=""><a href="#@Model.Id-I" data-toggle="tab">Bilder (@Model.Images.Count)</a></li>
            <li class=""><a href="#@Model.Id-A" data-toggle="tab">Verfügbarkeit</a></li>
            <li class=""><a href="#@Model.Id-L" data-toggle="tab">Ausleihen</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="@Model.Id-D">
                <p>I'm in Section 1.</p>
            </div>
            <div class="tab-pane" id="@Model.Id-I">
                <div data-target="#modal-gallery" data-toggle="modal-gallery">
                    <ul class="thumbnails">
                        @foreach (var each in Model.Images)
                        {
                            <li>
                                <a rel="gallery" class="thumbnail" href="@Html.Raw(Url.Content(each.FileName))" title="@Path.GetFileName(each.FileName)">
                                    <img src="@String.Concat(Html.Raw(Url.Content(each.FileName)), ".ashx?maxwidth=150&maxheight=150")" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="@Model.Id-A">
                <p>Howdy, I'm in Section 3.</p>
            </div>
            <div class="tab-pane" id="@Model.Id-L">
                <p>Howdy, I'm in Section 4.</p>
            </div>
        </div>
    </div>


@*<p>
    Menge: @Model.GetPropertyValue(3)</p>
<p>
    Reservierbar: @Model.GetPropertyValue(6)</p>
<p>
    Ausleihbar: @Model.GetPropertyValue(7)</p>
@if (Request.IsAuthenticated)
{
    if (Model.IsReservable)
    {
    <div class="formular-box" style="border: solid 1px rgb(155,210,23);">
        <div style="background-color: rgb(155,210,23); color: #fff; padding: 4px;">
            <b>Ausleihen</b>
        </div>
        @using (Ajax.BeginForm("AddItem", "Cart", new AjaxOptions { UpdateTargetId = "message-box-container", OnSuccess = "UpdateCartItemCount" }))
        {
            <div style="margin: 4px;">
                <table class="list" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Anzahl
                            </th>
                            <th>
                                Abholdatum
                            </th>
                            <th>
                                Zurückbringdatum
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="hidden" name="ItemId" value="@Model.Id" />
                                <input type="text" name="Amount" class="text-input" />
                            </td>
                            <td>
                                <input type="text" name="Begin" class="date-picker text-input" />
                            </td>
                            <td>
                                <input type="text" name="End" class="date-picker text-input" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="formular-action" style="margin-left: 4px;">
                    <input type="submit" value="In den Warenkorb" class="action" />
                </p>
            </div>           
        }
    </div>
    }
    else
    {
    <div class="formular-box" style="border: solid 1px rgb(155,210,23);">
        <div style="background-color: rgb(155,210,23); color: #fff; padding: 4px;">
            <b>Ausleihen</b>
        </div>
        @using (Ajax.BeginForm("AddItems", "Cart", new AjaxOptions { UpdateTargetId = "message-box-container", OnSuccess = "UpdateCartItemCount" }))
        {
            <div style="margin: 4px;">
                <table class="list" width="100%">
                    <thead>
                        <tr>
                            @foreach (var item in Model.Discriminators)
                            {
                                <th>@item.Caption
                                </th>
                            }
                            <th>
                                Anzahl
                            </th>
                            <th>
                                Abholdatum
                            </th>
                            <th>
                                Zurückbringdatum
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Children.Count; i++)
                        {
                            var child = Model.Children[i];

                            <tr>
                                @foreach (var discriminator in Model.Discriminators)
                                {                
                                    <td>@child.GetPropertyValue(discriminator.PropertyDefinitionId)
                                    </td>
                                }
                                <td>
                                    <input type="hidden" name="[@i].ItemId" value="@child.Id" />
                                    <input type="text" name="[@i].Amount" class="text-input" style="width:50px;" />
                                </td>
                                <td>
                                    <input type="text" name="[@i].Begin"class="date-picker text-input" />
                                </td>
                                <td>
                                    <input type="text" name="[@i].End"class="date-picker text-input" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="formular-action">
                    <input type="submit" value="In den Warenkorb" class="action" />
                </p>
            </div>
        }
    </div>
    }
}
<script type="text/javascript">
    function UpdateCartItemCount() {
        $.get('@Url.Content("~/Cart/GetCartItemsCount")', function (data) {
            $('#cart').text("Warenkorb (" + data + ")");
        });
    }
</script>*@
