@model phiNdus.fundus.Core.Web.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
     @Html.ActionLink("Shop", "Index") &gt; Detail
}

<h2>@Model.Caption</h2>

<p>Menge: @Model.GetPropertyValue(3)</p>
<p>Reservierbar: @Model.GetPropertyValue(6)</p>
<p>Ausleihbar: @Model.GetPropertyValue(7)</p>

@if (Request.IsAuthenticated) {
    if (Model.IsReservable) {
        <div class="formular-box" style="border:solid 1px #109033; padding:4px;">
            @using (Ajax.BeginForm("AddItem", "Cart", new AjaxOptions { UpdateTargetId = "message-box-container", OnSuccess = "UpdateCartItemCount" })) {
                <input type="hidden" name="ItemId" value="@Model.Id" />
                <p class="formular-item">
                    <label for="Amount">Anzahl</label><br />
                    <input type="text" name="Amount" class="text-input" />
                </p>
                <p class="formular-item">
                    <label for="Begin">Abholdatum</label><br />
                    <input type="text" name="Begin" class="date-picker text-input" />
                </p>
                <p class="formular-item">
                    <label for="End">Zurückbringdatum</label><br />
                    <input type="text" name="End" class="date-picker text-input" />
                </p>
                <p class="formular-action">
                    <input type="submit" value="In den Warenkorb" class="action" />
                </p>            
            }
        </div>
    } else { 
        <p>Artikel selber kann nicht ausgeliehen werden => Diskriminatorentabelle anzeigen (tbd)</p>
    }
}

<script type="text/javascript">
    function UpdateCartItemCount() {
        $.get('@Url.Content("~/Cart/GetCartItemsCount")', function (data) {
            //alert("items in cart: " + data);
            $('#cart').text("Warenkorb (" + data + ")");
        });
    }
</script>