@model ShopSearchResultViewModel
           
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section Breadcrumbs {
     @Html.ActionLink("Shop", "Index") &gt; &Uuml;bersicht
}

<div class="row">
    <div class="span1">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="span5" style="padding-top:5px;">
        @using (Ajax.BeginForm("Search", "Shop", new AjaxOptions {
            HttpMethod = "POST",
            LoadingElementId = "query-loading",
            UpdateTargetId="search-results"  }, new { @class = "form-search" }))
        {
            <input type="text" name="query" class="input-medium search-query" value="@Model.Query" />
            <button type="submit" class="btn">Suchen</button>
            <span class="help-inline hide" id="query-loading">
                <img src="@Url.Content("~/Content/Images/ajax-loader.gif")" style="vertical-align:middle;" />
            </span>
        }
    </div>
    <div class="span6">
        <div class="toolbar pull-right">
            <div class="btn-group">
                @Ajax.RawActionLink("<i class=\"icon-th-large\"></i>", "Large", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
                @Ajax.RawActionLink("<i class=\"icon-th\"></i>", "Small", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
                @Ajax.RawActionLink("<i class=\"icon-th-list\"></i>", "Table", new { }, new AjaxOptions {
                                                                                            HttpMethod = "POST",
                                                                                            LoadingElementId = "query-loading",
                                                                                            UpdateTargetId = "search-results"
                                                                                        }, new { @class = "btn" })
            </div>
        </div>
    </div>
</div>
<div id="search-results">
    @RenderBody()
</div>
<div class="tabbable" id="selected-articles" style="clear:both;">
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
    </div>
</div>
