@using Phundus.Web
@model OrdersViewModel

@{
    ViewBag.Title = "Abgeschlossene Bestellungen";
}

<h2>@ViewBag.Title</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Datum</th>
            <th>Reservierer</th>
            <th>Anzahl Artikel</th>
            <th>Abgeschlossen am</th>
            <th>Abgeschlossen von</th>
            <th style="width: 164px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td class="no-data" colspan="7">Keine abgeschlossenen Bestellungen vorhanden.</td>
            </tr>
        }
        else
        {
            foreach (var each in Model.Items)
            {
                <tr>
                    <td>
                        @each.Id
                    </td>
                    <td>
                        @each.CreateDate
                    </td>
                    <td>
                        @each.ReserverName
                    </td>
                    <td>
                        @each.ItemCount
                    </td>
                    <td>
                        @each.ModifyDate
                    </td>
                    <td>
                        @each.ModifierName
                    </td>
                    <td>
                        @Html.ActionLink(new Appearance { Caption = "Details", Button = Button.Normal }, OrdersActionNames.Details, new { id = each.Id })
                        @Html.ActionLink(new Appearance { Caption = "PDF", Button = Button.Normal }, OrdersActionNames.Print, new { id = each.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
