@model OrderViewModel

@{
    ViewBag.Title = "Bestellung " + Model.Id;
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Artikel</th>
            <th>Von</th>
            <th>Bis</th>
            <th>Menge</th>
            <th>Stückpreis</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Items)
        {
            <tr>
                <td>@each.Text</td>
                <td>@Html.DisplayFor(m => each.From)</td>
                <td>@Html.DisplayFor(m => each.To)</td>
                <td>@Html.DisplayFor(m => each.Amount)</td>
                <td style="text-align: right;">@Html.DisplayFor(m => each.UnitPrice)</td>
                <td style="text-align: right;">@Html.DisplayFor(m => each.LineTotal)</td>
            </tr>
        }
    </tbody>
</table>
