@model OrdersViewModel

@{
    ViewBag.Title = "Provisorische Bestellungen";
}

<h2>@ViewBag.Title</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Datum</th>
            <th>Reservierer</th>
            <th>Anzahl Artikel</th>
            <th style="width: 332px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td class="no-data" colspan="5">Keine provisorischen Bestellungen vorhanden.</td>
            </tr>
        }
        else 
        {
            foreach (var each in Model.Items)
            {
                <tr id="order-@each.Id">
                    <td>
                        @each.Id
                    </td>
                    <td>
                        @each.CreateDate
                    </td>
                    <td>
                        @each.ReserverName
                    </td>
                    <td>
                        @each.ItemCount
                    </td>
                    <td style="text-align: right;">
                        @Html.ActionLink(new Appearance { Caption = "Details", Button = Button.Normal }, "Details", new { id = each.Id })
                        @Ajax.ActionLink(new Appearance { Caption = "Bestätigen", Button = Button.Primary }, OrdersActionNames.Confirm, new { id = each.Id }, new AjaxOptions { Confirm = "Möchten Sie diese Bestellung wirklich bestätigen?", OnSuccess="fundus.shop.orderConfirmed", HttpMethod="POST" })
                        @Ajax.ActionLink(new Appearance { Caption = "Ablehnen", Button = Button.Danger }, OrdersActionNames.Reject, new { id = each.Id }, new AjaxOptions { Confirm = "Möchten Sie diese Bestellung wirklich ablehnen?", OnSuccess="fundus.shop.orderRejected", HttpMethod = "POST" })
                        @Html.ActionLink(new Appearance { Caption = "PDF drucken", Button = Button.Normal }, OrdersActionNames.Print, new { id = each.Id })
                    </td>
                </tr>
            }
}
</tbody>
</table>