@model phiNdus.fundus.Core.Web.Models.LogOnModel

@{
    ViewBag.Title = "Anmelden";
}

<h2>Benutzer > Anmelden</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Login nicht erfolgreich")

    <table class="formular-box">
        <tr>
        <td>
            @Html.LabelFor(m => m.EMail)
        </td><td>
            @Html.TextBoxFor(m => m.EMail)
        </td>
        </tr>
        <tr>
        <td colspan="2">    
            @Html.ValidationMessageFor(m => m.EMail)
        </td>
        </tr>
    
        <tr>
        <td>
            @Html.LabelFor(m => m.Password)
        </td><td>
            @Html.PasswordFor(m => m.Password)
        </td></tr>
        <tr>
        <td colspan="2">
            @Html.ValidationMessageFor(m => m.Password)
        </td>
        </tr>

        <tr>
        <td colspan="2">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </td>
        </tr>

        <tr><td></td>
        <td style="text-align: right">
        <input type="submit" value="Anmelden" />
        </td>
        </tr>
        </table>
 
        <p></p>

        <div style="text-align: center; width: 100%">
            @Html.ActionLink("Passwort vergessen?", "ResetPassword") <br />
            @Html.ActionLink("Neues Konto erstellen", "SignUp")
        </div>

}
