@model phiNdus.fundus.Core.Web.Models.LogOnModel

@{
    ViewBag.Title = "Anmelden";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Anmelden
}

@*<h2>Benutzer &gt; Anmelden</h2>*@

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Fehler bei der Anmeldung")

    <div class="formular-box">        
        <p class="formular-item">
            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email, new { @class = "text-input" })<br />
            @Html.ValidationMessageFor(m => m.Email)
        </p>
        <p class="formular-item">
            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password, new { @class = "text-input" })<br />
            @Html.ValidationMessageFor(m => m.Password)
        </p>            
        <p class="formular-item">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </p>
        <p class="formular-action">
            <input type="submit" value="Anmelden" />
        </p>
    </div>
 
    @*<div style="width: 100%">
        @Html.ActionLink("Passwort vergessen?", "ResetPassword") | @Html.ActionLink("Neues Konto erstellen", "SignUp")
    </div>*@

}
