@model phiNdus.fundus.Core.Web.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
}

<h2>Benutzer &gt; Registrieren</h2>

<script type="text/javascript" src="@Url.Content("/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}


@using (Html.BeginForm()) {
    <table class="formular-box">
        <tr>
            <td colspan="2">@Html.ValidationSummary(true, "Konnte Benutzer nicht erstellen")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.FirstName)</td>
        </tr>
    
        <tr>
            <td>@Html.LabelFor(m => m.LastName)</td>
            <td>@Html.TextBoxFor(m => m.LastName)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.LastName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>

        <tr>
            <td></td>
            <td style="text-align: right"><input type="submit" value="Registrieren" /></td>
        </tr>
    </table>
}
