@model phiNdus.fundus.Core.Web.Models.SignUpModel

@{
    ViewBag.Title = "Registrieren";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Registrieren
}

<h2>Registrieren</h2>
<p></p>

@using (Html.BeginForm())
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        @Html.ValidationSummary(true, "Fehler bei der Registrierung:", new { @class = "alert alert-error"})
        <div class="form-actions">
            @Html.SubmitButton("Registrieren")
            @Html.ActionLinkButton("Abbrechen", "Index", "Home", new { }, Icon.None)
        </div>
    </fieldset>
}
