@model ArticleViewModel
@{
    ViewBag.Title = "Neues Material erfassen";
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#" data-toggle="tab">Eigenschaften</a></li>
    <li class=""><a href="#">Bilder</a></li>
    <li class=""><a href="#">Kategorien</a></li>
    <li class=""><a href="#">Verfügbarkeit</a></li>
</ul>
<div class="tab-content" id="tab-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorForModel()    
        <div class="form-actions">
            @Html.SubmitButton("Speichern")
            @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, ArticlesActionNames.Index)
        </div>
    }
</div>