@using Phundus.Web
@model ArticlesTableViewModel
@{
    ViewBag.Title = "Material";
}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/organization/id/@Model.OrganizationId">Home</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/orders">Bestellungen</a></li>
    <li role="presentation" class="active"><a href="/orgs/@Model.OrganizationId/article/list">Material</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/members">Mitglieder</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/files">Dateien</a></li>
</ul>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-10">
        @*<form class="form-inline">
            <p>
                <input type="text" ng-model="search.$" class="form-control" placeholder="Suchen">
            </p>
        </form>*@
    </div>
    <div class="col-sm-2" style="text-align:right">
        <a class="btn btn-primary" href="/orgs/@Model.OrganizationId/article/create">Neues Material</a>
    </div>
</div>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Bestand (Brutto)</th>
        <th>Preis</th>
        <th>Bestand (Netto)</th>
        <th>Erfassungsdatum</th>
        <th style="width: 230px;"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Articles) {
        <tr>
            <td>
                @item.Id.ToString()
            </td>
            <td>@item.Name</td>
            <td>@item.GrossStock</td>
            <td>@item.Price</td>
            <td>&nbsp;</td>
            <td>@item.CreatedOn</td>
             <td>
                <div class="btn-toolbar" style="margin: 0;">
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-sm btn-default">Bearbeiten</a>
                        <a href="#" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Fields", new { id = item.Id})">Eigenschaften</a></li>
                            <li><a href="@Url.Action("Images", new { id = item.Id})">Dateien</a></li>
                            <li><a href="@Url.Action("Availability", new { id = item.Id})">Verfügbarkeit</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Löschen", ArticlesActionNames.Delete, ControllerNames.Articles, new { id = item.Id, version = item.Version }, new { @class = "btn btn-sm btn-danger" })
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
