@model Phundus.Web.Models.ArticleModels.ArticleReservationsModel

      
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Von (Lokal / UTC)</th>
            <th>Bis (Lokal / UTC)</th>
            <th>Anzahl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var each in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(m => each.FromLocal) / @Html.DisplayFor(m => each.FromUtc)</td>
                <td>@Html.DisplayFor(m => each.ToLocal) /  @Html.DisplayFor(m => each.ToUtc)</td>
                <td>@Html.DisplayFor(m => each.Quantity)</td>
            </tr>
        }
    </tbody>
</table>