@model phiNdus.fundus.Core.Web.Models.ArticleModel

@{
    ViewBag.Title = "Details";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index") &gt; Detail
}

@*<h2>Details</h2>*@


<fieldset>
    <legend>Artikel</legend>

    @foreach (var each in Model.Item.Properties)
    {
        <div class="display-label">@each.Caption</div>
        <div class="display-field">
            @if (each.IsDiscriminator)
            {
                @Html.Raw("<i>Diskriminante</i>")
            }
            else
            {
            @Html.DisplayFor(model => each.ValueAsString)
            }
        </div>
    }

    
</fieldset>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id=Model.Item.Id }) |
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
