@model phiNdus.fundus.Core.Web.Models.ArticleListModel

@{
    ViewBag.Title = "List";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "List") &gt; &Uuml;bersicht
}

@*<h2>List</h2>*@

<p>
    @Html.ActionLink("Neuer Artikel hinzufügen", "Create") |
    @Html.ActionLink("Artikeleigenschaften bearbeiten", "Index", "Property")
</p>
<table>
    <tr>
        <th>
            Id
        </th>
        @foreach (var heading in Model.Headings)
        {
            <th>
                @heading.Caption
            </th>
        }
        <th></th>
    </tr>
    
    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @item.Id.ToString()
            </td>
            @foreach (var heading in Model.Headings)
            {
                <td>
                    @if (item.IsDiscriminator(heading.Id))
                    {
                        @Html.Raw("<i>D</i>")
                    }
                    else
                    {
                        @item.GetPropertyValue(heading.Id)
                    }
                </td>
            }
             <td>
                 @Html.ActionLink("Anzeigen", "Details", new { id = item.Id }) |
                 @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }) |
                 @Ajax.ActionLink("Löschen", "Delete", new { id = item.Id, version = item.Version }, new AjaxOptions { Confirm = "Möchten Sie diesen Artikel wirklich löschen?", HttpMethod = "Delete", UpdateTargetId = "message-box-container" })
             </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Neuer Artikel hinzufügen", "Create") |
    @Html.ActionLink("Artikeleigenschaften bearbeiten", "Index", "Property")
</p>
