@model ArticlesTableViewModel

@{
    ViewBag.Title = "Material";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "List") &gt; &Uuml;bersicht
}

<h2>Material</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Id
        </th>
        @foreach (var heading in Model.Headings)
        {
            <th>
                @heading.Caption
            </th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Articles) {
        <tr>
            <td>
                @item.Id.ToString()
            </td>
            @foreach (var heading in Model.Headings)
            {
                <td>
                    @if (item.IsDiscriminator(heading.Id))
                    {
                        @Html.Raw("<i>D</i>")
                    }
                    else
                    {
                        @item.GetPropertyValue(heading.Id)
                    }
                </td>
            }
             <td>
                 @Html.ActionLinkButton("Bearbeiten", "Edit", new { id = item.Id })
                 @Html.ActionLinkButton("Löschen", "Delete", new { id = item.Id, version = item.Version }, Icon.None, ButtonClass.Danger)
             </td>
        </tr>
    }
    </tbody>
</table>
