@model PageSelectorViewModel
           
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "query-loading",
        UpdateTargetId = "search-results"
    };
}

@if (Model.TotalPages > 1)
{
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        @if (Model.ActivePage > 1)
        {
            @Ajax.ActionLink(new Appearance { Caption = "Vorherige", Button = Button.Normal }, "Index", new { page = Model.ActivePage - 1 }, ajaxOptions)
        }
        
        @{int prev = 0;}
        @foreach (var each in Model.Pages)
        {
            if (each - prev > 1)
            {
                @Html.Raw("</div><div class=\"btn-group\">");
            }
            if (each == Model.ActivePage)
            {
                @Ajax.ActionLink(new Appearance { Caption = each.ToString(), Button = Button.Inverse }, "Index", new { page = each }, ajaxOptions);
            }
            else
            {
                @Ajax.ActionLink(new Appearance { Caption = each.ToString(), Button = Button.Normal }, "Index", new { page = each }, ajaxOptions);
            }
            prev = each;
        }
        
        @if (Model.ActivePage < Model.TotalPages)
        {
            @Ajax.ActionLink(new Appearance { Caption = "Nächste", Button = Button.Normal }, "Index", new { page = Model.ActivePage + 1 }, ajaxOptions)
        }
        </div>
    </div>
}