@using phiNdus.fundus.Web.Views
@model phiNdus.fundus.Web.Models.Organization.OrganizationModel
@{
    ViewBag.Title = Model.Name;
}

@if (Model.IsManager)
{
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/organization/id/@Model.Id">Home</a></li>
        <li role="presentation"><a href="/management/@Model.Id#/orders">Bestellungen</a></li>
        <li role="presentation"><a href="/orgs/@Model.Id/article/list">Material</a></li>
        <li role="presentation"><a href="/management/@Model.Id#/members">Mitglieder</a></li>
        <li role="presentation"><a href="/management/@Model.Id#/applications">Beitrittsanfragen</a></li>
        <li role="presentation"><a href="/management/@Model.Id#/settings">Einstellungen</a></li>
        <li role="presentation"><a href="/management/@Model.Id#/files">Dateien</a></li>
    </ul>
}

<div class="row" ng-app="ph.organizations" ng-init="organizationId=@Model.Id + 0;">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>@Model.Name</h2>
        @Html.Raw(Model.Startpage)
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        @if (Request.IsAuthenticated)
        { 
            <div ng-view></div>
        }
        
        @if (Model.HasContactOptions)
        {
            <h3>Kontakt</h3>
            <address>
                @if (!String.IsNullOrWhiteSpace(Model.Address))
                {
                    foreach (var each in Model.Address.Replace('\r', '\n').Split('\n'))
                    {
                        @each<br/>
                    }
                    <br />
                }
                @if (!String.IsNullOrWhiteSpace(Model.EmailAddress))
                {
                    WriteLiteral("E-Mail: ");
                    @Html.DisplayEmail(Model.EmailAddress, replace: true)<br />
                }
                @if (!String.IsNullOrWhiteSpace(Model.Website))
                {
                    WriteLiteral("Webseite: ");
                    <a href="@Html.DisplayUrl(Model.Website)">@Model.Website </a>
                }
            </address>
        }        
            
        
        @if (!String.IsNullOrWhiteSpace(Model.Coordinate))
        {
            <h3>Karte</h3>
            <div id="map-canvas" style="height: 350px; width: 570px;"></div>
            <p></p>
        }
    </div>
</div>

@section scripts {
    @if (!String.IsNullOrWhiteSpace(Model.Coordinate))
    {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJKDC2eU6SvzZMj3aoPOw_-Pb6qDoxBiM&sensor=false"></script>
        <script type="text/javascript">
            $(function() {
                var splitted = '@Model.Coordinate'.split(',');
                var point = new google.maps.LatLng(splitted[0], splitted[1]);

                var mapOptions = {
                    center: point,
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var elem = document.getElementById("map-canvas");
                var map = new google.maps.Map(elem, mapOptions);

                var marker = new google.maps.Marker({
                    position: point,
                    title: "@Model.Name"
                });
                marker.setMap(map);
            });
        </script>
    }
}