@model FieldViewModel
           
<div class="display-label">
    @Html.LabelFor(m => m.Caption)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Caption)
</div>
<div class="display-label">
    @Html.LabelFor(m => m.DataType)
</div>
<div class="display-field">
    @Model.DataType.ToString()
</div>
<div class="display-label">
    @Html.LabelFor(m => m.IsSystem)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsSystem)
</div>
<div class="display-label">
    @Html.LabelFor(m => m.IsDefault)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsDefault)
</div>