@model FieldViewModel
           
<div class="display-label">
    @Html.LabelFor(m => m.Caption)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.Caption)
</div>
<div class="display-label">
    @Html.LabelFor(m => m.DataTypeAsText)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.DataTypeAsText)
</div>
<div class="display-label">
    @Html.LabelFor(m => m.IsSystem)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsSystem)
</div>
<div class="display-label">
    @Html.LabelFor(m => m.IsDefault)
</div>
<div class="display-field">
    @Html.DisplayFor(m => m.IsDefault)
</div>