@model FieldViewModel

    <div class="control-group">
        @Html.LabelFor(m => m.Caption, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(m => m.Caption)
            @Html.ValidationMessageFor(m => m.Caption)
        </div>
    </div>

@if (!Model.IsSystem)
{
    <div class="control-group">
        @Html.LabelFor(m => m.DataType, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(m => m.DataType, Model.FieldDataTypes)
            @Html.ValidationMessageFor(m => m.DataType)
        </div>
    </div>
}

    <div class="control-group">
        @Html.LabelFor(m => m.IsDefault, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(m => m.IsDefault)
        </div>
    </div>
