@model phiNdus.fundus.Core.Web.Models.PropertyValueViewModel
@using phiNdus.fundus.Core.Business.Dto           
           
@using (Html.BeginContainerFor(m => m))
{
    <div class="editor-label">
        @Html.DisplayFor(m => m.Caption)
    </div>
    <div class="editor-field">
        @Html.HiddenFor(m => m.PropertyDefinitionId)
        @Html.HiddenFor(m => m.PropertyValueId)
        @switch (Model.DataType)
        {
            case PropertyDataType.Boolean:
                @Html.CheckBoxFor(m => m.BooleanValue);
                break;
            default:
                @Html.TextBoxFor(m => m.StringValue);
                break;
        }
        @Html.HiddenFor(m => m.IsDeleted)
        <a href="#" onclick="removeProperty('@Html.IdFor(m => m)', '@Model.Caption', @Model.PropertyDefinitionId); return false;">Eigenschaft entfernen</a>
    </div>
}

