@model FieldViewModel
           
@{
    ViewBag.Title = "Feld \"" + Model.Caption + "\"";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     @ViewBag.Title
}

<h2>@ViewBag.Title</h2>

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index") |
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id })
    @if (!Model.IsSystem) {
                @Html.Raw(" | ")
                @Html.ActionLink("Löschen", "Delete", new { id = Model.Id })
    }
</p>
