@model FieldsViewModel

@{
    ViewBag.Title = "Artikelfelder";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     &Uuml;bersicht
}

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId="message-box-container" }))
{
    @Html.ValidationSummary(true)
    
    <p>
        <span class="unobtrusive-remove"><input type="submit" value="Speichern" /> | </span>@Html.ActionLink("Neues Feld hinzufügen", "Create")
    </p>
    <table class="list dnd">
        <tr>
            <th>
                Position
            </th>
            <th>
                Name
            </th>
            <th>
                Datentyp
            </th>
            <th>
                Systemfeld
            </th>
            <th>
                Standard
            </th>
            <th></th>
        </tr>

    @for (var idx = 0; idx < Model.Items.Count; idx++)
    {
        <tr>
            <td class="dnd-idx">
                @Html.EditorFor(m => m.Items[idx].Position)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].Caption)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].DataTypeAsText)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].IsSystem)
            </td>
            <td>
                @Html.EditorFor(m => m.Items[idx].IsDefault)
            </td>
            <td>
                @Html.HiddenFor(m => m.Items[idx].Id)

                @Html.ActionLinkIcon("Anzeigen", ActionLinkIcon.Detail, "Details", new { id = Model.Items[idx].Id })
                @Html.ActionLinkIcon("Bearbeiten", ActionLinkIcon.Edit, "Edit", new { id = Model.Items[idx].Id })
            
                @if (!Model.Items[idx].IsSystem)
                {
                    @Html.ActionLinkIcon("Löschen", ActionLinkIcon.Remove, "Delete", new { id = Model.Items[idx].Id, version = Model.Items[idx].Version })
                }
            </td>
        </tr>
    }
    </table>
    <p>
        <span class="unobtrusive-remove"><input type="submit" value="Speichern" /> | </span>@Html.ActionLink("Neues Feld hinzufügen", "Create")
    </p>
}


@*<script type="text/javascript">
    function mysuccess(data) {
        $('#message-box-container').empty().append(data.message);


        var table = $("table.dnd");
        for (var idx = 0; idx < data.data.length; idx++) {
            var item = data.data[idx];

            //alert(item.id);
            var input = $(table).find('#Items_' + idx + '__Version');
            input.val(item.version);
            //alert(input.id + "; wert= " + input.val());

            $(table).find('input[value="' + item.id + '"]').each(function (index) {
                if($(this).
            });
        }
        
    }
</script>*@