@using Phundus.Web
@model phiNdus.fundus.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Passwort ändern";
}

<h2>Passwort ändern</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPasswordAgain)
            @Html.PasswordFor(m => m.NewPasswordAgain, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.NewPasswordAgain)
        </div>
        
        @Html.ValidationSummary(true, "Fehler beim Ändern des Passworts:", new {@class = "alert alert-error"})
        <div class="form-group">
            @Html.SubmitButton("Passwort ändern")
            @Html.ActionLink(new Appearance {Caption = "Abbrechen", Button = Button.Normal}, HomeActionNames.Index, ControllerNames.Home)
        </div>
    </fieldset>
}
