@using Phundus.Web
@model phiNdus.fundus.Web.ViewModels.Account.ChangeEmailViewModel
@{
    ViewBag.Title = "E-Mail-Adresse ändern";
}

<h2>E-Mail-Adresse ändern</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        @Html.ValidationSummary(true, "Fehler beim Ändern der E-Mail-Adresse:", new {@class = "alert alert-error"})
        <div class="form-group">
            @Html.SubmitButton("Bestätigungs-E-Mail senden")
            @Html.ActionLink(new Appearance {Caption = "Abbrechen", Button = Button.Normal}, HomeActionNames.Index, ControllerNames.Home)
        </div>
    </fieldset>
}
