@model phiNdus.fundus.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Passwort ändern";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Konto
}

<h2>Passwort ändern</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.NewPasswordAgain, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPasswordAgain)
                @Html.ValidationMessageFor(m => m.NewPasswordAgain)
            </div>
        </div>
        
        @Html.ValidationSummary(true, "Fehler beim Ändern des Passworts:", new { @class = "alert alert-error"})
        <div class="form-actions">
            @Html.SubmitButton("Passwort ändern")
            @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, HomeActionNames.Index, ControllerNames.Home)
        </div>
    </fieldset>
}
