@model EmailValidationViewModel

@{
    ViewBag.Title = "Validierung";
}

<h2>Validierung</h2>

<p>Hier wird die Richtigkeit deiner E-Mail-Adresse kontrolliert. Gibt dazu den Validierungs-Code ein, welcher an deine eingegebe E-Mail-Adresse versendet wurde.</p>

@using (Html.BeginForm(new { id = (string)null }))
{
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Key)
            @Html.TextBoxFor(m => m.Key, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Key)
        </div>

        @Html.ValidationSummary(true, "Fehler bei der Validierung:")
        <div class="form-group">
            @Html.SubmitButton("Validieren")
        </div>
    </fieldset>
}
