@using Phundus.Web
@model phiNdus.fundus.Web.Models.LogOnModel

@{
    ViewBag.Title = "Anmelden";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Anmelden
}

<h2>Anmelden</h2>
<p></p>

@using (Html.BeginForm()) {
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>           
        <div class="control-group">
            @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>

        @Html.ValidationSummary(true, "Fehler bei der Anmeldung:", new { @class = "alert alert-error"})
        <div class="form-actions">
            @Html.SubmitButton("Anmelden")
            @Html.ActionLink("Passwort vergessen?", AccountActionNames.ResetPassword) | @Html.ActionLink("Neues Konto erstellen", AccountActionNames.SignUp)
        </div>
    </fieldset>
}
