@using Phundus.Web
@model phiNdus.fundus.Web.ViewModels.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Passwort zurücksetzen";
}

<h2>Passwort zurücksetzen</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        @Html.ValidationSummary(true, "Fehler beim Zurücksetzen des Passworts:", new { @class = "alert alert-error"})
        <div class="form-group">
            @Html.SubmitButton("Passwort zurücksetzen")
            @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, HomeActionNames.Index, ControllerNames.Home)
        </div>
    </fieldset>
}
