@using Phundus.Web
@model phiNdus.fundus.Web.Models.SignUpModel
@{
    ViewBag.Title = "Registrierung";
}

<h2>@ViewBag.Title</h2>
<p>Für die Anmeldung ist die Eingabe der persönlichen J+S Personen Nummer erforderlich. Die J+S Anerkennung muss nicht gültig sein, die Nummer dient nur zur Erkennung ob eine Tätigkeit in einem Jugendverband der Nutzergruppe 3 (Lagersport und Trekking) vorhanden war. Die Nummer findest du auf deinem J+S Ausweis im Kreditkartenformat oder durch Rückfrage bei deinem J+S Coach.</p>
<p>Mit der Anmeldung bestätigst du Verantwortungsbewusst mit den Materialen umzugehen. Dir ist ersichtlich, dass du Teil sehr grossen Interessensgemeinschaft bist und vermeidest Nachlässigkeiten. Bestätigte Buchungen können nicht rückgängig gemacht werden. Der Mietbetrag ist beim Abholen des Material bar zu bezahlen. Bei Unsachgemässer Anwendung kannst du jederzeit vom FUNDUS ausgeschlossen werden.</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Fehler bei der Registrierung:", new { @class = "alert alert-error" })

    <fieldset>
        <legend>Benutzerkonto</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PasswordAgain)
            @Html.PasswordFor(m => m.PasswordAgain, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PasswordAgain)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Kontakt</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>        
        <div class="form-group">
            @Html.LabelFor(m => m.Street)
            @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Street)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Postcode)
            @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Postcode)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MobilePhone)
            @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MobilePhone)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Mitgliedschaft</legend>
        <div class="form-group">
            @System.Web.Mvc.Html.LabelExtensions.LabelFor(Html, m => m.OrganizationId, "Ich bin Mitglied folgender Organisation")
            @Html.DropDownListFor(m => m.OrganizationId, Model.Organizations, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OrganizationId)
            <span class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Weitere Mitgliedschaften kannst du nach der Registrierung über die jeweilige Organisationsseite beantragen.</span>
        </div>
    </fieldset>
    
    <div class="form-group">
        @Html.SubmitButton("Registrieren")
        @Html.ActionLink(new Appearance { Caption = "Abbrechen", Button = Button.Normal }, HomeActionNames.Index, ControllerNames.Home)
    </div>
}
