@model ValidationViewModel

@{
    ViewBag.Title = "Validierung";
}

@section Breadcrumbs {
    <a href="#">Benutzer</a> &gt; Validierung
}

<h2>Validierung</h2>

<p>Hier wird die Richtigkeit deiner E-Mail-Adresse kontrolliert. Gibt dazu den Validierungs-Code ein, welcher an deine eingegebe E-Mail-Adresse versendet wurde.</p>

@using (Html.BeginForm(new { id = (string)null }))
{
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.Key, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Key)
                @Html.ValidationMessageFor(m => m.Key)
            </div>
        </div>

        @Html.ValidationSummary(true, "Fehler bei der Validierung:")
        <div class="form-actions">
            @Html.SubmitButton("Validieren")
        </div>
    </fieldset>
}
