<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>@ViewBag.Title - fundus</title>
        <!--
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/ToVerify.css")" rel="stylesheet" type="text/css" />
        -->
        <!--
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" /> 
        <link href="@Url.Content("~/Content/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" /> 
        -->
        <!--
        <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
        
        <script src="@Url.Content("~/Scripts/jquery.tablednd.0.6.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.fileupload-ui.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/Application.js")" type="text/javascript"></script>
        -->

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" /> 
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-responsive.min.css")" />

        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.min.js")" type="text/javascript"></script>               
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        

        <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery.tablednd.0.6.min.js")" type="text/javascript"></script>
    </head>

    <body style="margin: 20px;">
        @Html.Partial("_NavBar")
        
        <div class="container">
            <!--
            <div class="breadcrumb">
                @RenderSection("Breadcrumbs", required: false)
            </div>
            -->
            <div>
                <div id="message-box-container"></div>
                @RenderBody()
            </div>
        
            <div style="margin: auto; margin-top:20px; border-top: solid 1px #f0f0f0; font-size:10px; color:#909090;">
                @Html.Partial("_Footer")
            </div>        
        </div>
    </body>
</html>


<script type="text/javascript">
    $('span.field-validation-valid, span.field-validation-error').each(function () {
        $(this).addClass('help-inline');
    });

    $('form').submit(function () {
        if ($(this).valid()) {
            $(this).find('div.control-group').each(function () {
                if ($(this).find('span.field-validation-error').length == 0) {
                    $(this).removeClass('error');
                }
            });
        }
        else {
            $(this).find('div.control-group').each(function () {
                if ($(this).find('span.field-validation-error').length > 0) {
                    $(this).addClass('error');
                }
            });
        }
    });

    $('form').each(function () {
        $(this).find('div.control-group').each(function () {
            if ($(this).find('span.field-validation-error').length > 0) {
                $(this).addClass('error');
            }
        });
    });
</script>

<!-- Editoren anpassen evlt. auslagern -->
<script type="text/javascript">
    $(document).ready(function () {
        // Meldung anzeigen, wenn ein Ajax-Request gemacht wird.
        // Evtl. ganze Webseite sperren?
        // http://stackoverflow.com/questions/5938505/asp-mvc-3-loadingelementid-element-only-shows-on-first-request
        //$('#message-box-container').ajaxStart(function () {
        //    $(this).empty().append('<div class="warning">Bitte warten...</div>');
        //});

        // Datumspicker
        $('.date-picker').datepicker({ dateFormat: "dd.mm.yy" });

        /*
        // Zebratabellen
        $('.list tr:odd').addClass('alt');
        $('.list tr').mouseover(function () {
        $(this).addClass('over');
        });
        $('.list tr').mouseout(function () {
        $(this).removeClass('over');
        });
        */

        /*
        // Feeback bei Button klick
        $("input[type='submit']").click(function () {
        $(this).fadeTo('fast', 0.1).fadeTo('slow', 1.0);
        });
        $("input[type='button']").click(function () {
        $(this).fadeTo('fast', 0.1).fadeTo('slow', 1.0);
        });

        // Icons
        $('.ui-state-default').hover(
        function () { $(this).addClass('ui-state-hover'); },
        function () { $(this).removeClass('ui-state-hover'); }
        );
        $(".ui-state-default").click(function () {
        $(this).fadeTo('fast', 0.1).fadeTo('slow', 1.0);
        });
        */

        // Table Drag'n'Drop: Position-Inputs durch Icon "ersetzen"
        $('td.dnd-idx').css('cursor', 'move')
            .append('<a class="btn" style="cursor: move;">Verschieben</a>')
            .find('input').hide();

        // Table Drag'n'Drop: Checkboxen sollen auch Post-Back auslösen.
        $('table.dnd').find('input[type="checkbox"]').click(function () {
            $(this).closest('form').submit();
        });

        // Table Drag'n'Drop: Aktivierung
        $('table.dnd').tableDnD({
            dragHandle: 'dnd-idx',
            onDrop: function (table, row) {
                $(table).find('td.dnd-idx').find('input').each(function (index) {
                    $(this).val(index);

                });
                $(table).closest('form').submit();
            }
            
        });
        $('.unobtrusive-remove').remove();
    });
</script>


