@inherits System.Web.Mvc.WebViewPage<dynamic>


<ul class="nav-1">
    <li>@Html.ActionLink("Home", "Index", "Shop")</li>

    @if (Request.IsAuthenticated) {
        <li>@Html.ActionLink("Bestellungen", "Index", "Order")
            <ul class="nav-2">
                <li>@Html.ActionLink("Alle", "All", "Order")</li>
                <li>@Html.ActionLink("Provisorische", "Pending", "Order")</li>
                <li>@Html.ActionLink("Bestätigte", "Approved", "Order")</li>
                <li>@Html.ActionLink("Abgeschlossene", "Closed", "Order")</li>
                <li>@Html.ActionLink("Abgelehnte", "Rejected", "Order")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Verträge", "Index", "Contract")
            <ul class="nav-2">
                <li>@Html.ActionLink("Unterschriebene", "Signed", "Contract")</li>
                <li>@Html.ActionLink("Abgeschlossene", "Closed", "Contract")</li>
            </ul>
        </li>
        
        <li>@Html.ActionLink("Artikel", "Index", "Article")
            <ul class="nav-2">
                <li>@Html.ActionLink("Neu", "Create", "Article")</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Benutzer", "Index", "User")</li>
        <li>@Html.ActionLink("Einstellungen", "Index", "Setting")</li>
    }
</ul>