@model phiNdus.fundus.Core.Web.Models.ArticleModel
   
   @for (var idx = 0; idx < Model.Item.Properties.Count; idx++)
        {
            @Html.HiddenFor(x => x.Item.Properties[idx].Caption)
            @Html.HiddenFor(x => x.Item.Properties[idx].DataType)
            @Html.HiddenFor(x => x.Item.Properties[idx].PropertyId)
            @Html.HiddenFor(x => x.Item.Properties[idx].ValueId)
            <div class="editor-label">
                @Model.Item.Properties[idx].Caption
            </div>
            <div class="editor-field">
            @if (Model.Item.Properties[idx].IsDiscriminator)
            {
                @Html.CheckBoxFor(x => x.Item.Properties[idx].IsDiscriminator)
            }
            else
            {
               @*@Html.HiddenFor(x => x.Item.Properties[idx].IsDiscriminator)*@
               switch (Model.Item.Properties[idx].DataType)
               {
                   case phiNdus.fundus.Core.Business.Dto.PropertyDataType.Boolean:
                       @Html.CheckBoxFor(x => x.Item.Properties[idx].ValueAsBoolean); break;
                   default:
                       @Html.TextBoxFor(x => x.Item.Properties[idx].ValueAsString); break;

               }
            }               
               <input type="submit" name="@String.Concat("removeProperty_", Model.Item.Properties[idx].PropertyId)" value="Entfernen" />
               @*<br />Caption: @Model.Item.Properties[idx].Caption
               <br />DataType: @Model.Item.Properties[idx].DataType.ToString()
               <br />IsDiscriminator: @Model.Item.Properties[idx].IsDiscriminator.ToString()
               <br />PropertyId: @Model.Item.Properties[idx].PropertyId.ToString()
               <br />ValueId: @Model.Item.Properties[idx].ValueId.ToString()
               <br />ValueAsString (Inline): @Model.Item.Properties[idx].ValueAsString
               <br />ValueAsString (Lambda): @Html.DisplayTextFor(x => x.Item.Properties[idx].ValueAsString)
               <br />@Html.TextBoxFor(x => x.Item.Properties[idx].ValueAsString);
               <br />ValueAsBoolean: @Model.Item.Properties[idx].ValueAsBoolean.ToString()*@
            </div>
            
        }

        <p>
            Eigenschaft hinzufügen:<br />
            @using phiNdus.fundus.Core.Web.Models
            @Html.DropDownList("DropDownListRemainingProperties", Model.Item.RemainingProperties())
            <input type="submit" name="addProperty" value="Eigenschaft hinzufügen" />
            <input type="submit" name="addDiscriminator" value="Diskriminator hinzufügen" />
            @Html.ActionLink("Eigenschaften bearbeiten", "Index", "Property")
        </p>