@model FieldViewModel

@{
    ViewBag.Title = "Neues Feld erfassen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     @ViewBag.Title
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    
    <p>
        <input type="submit" value="Speichern" /> | @Html.ActionLink("Zurück zur Übersicht", "Index")
    </p>
}

