@model FieldViewModel

@{
    ViewBag.Title = "Feld \"" + Model.Caption + "\" löschen";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     @ViewBag.Title
}

<h2>@ViewBag.Title</h2>

<p>Möchten Sie dieses Feld wirklich löschen?</p>
<p> Alle Werte die auf Artikeln in diesem Feld gespeichert sind, gehen verloren.</p>
<p>Dieser Vorgang kann nicht rückgängig gemacht werden.</p>
@using (Html.BeginForm()) {
    <p>
        @Html.HiddenFor(m => m.Version)
        <input type="submit" value="Löschen" /> |
        @Html.ActionLink("Abbrechen", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Zurück zur Übersicht", "Index")
    </p>
}
