@model FieldsViewModel

@{
    ViewBag.Title = "Materialeigenschaften";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Felder", "List") &gt;
     &Uuml;bersicht
}

<h2>Materialeigenschaften</h2>

@*@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "message-box-container" }))*@
@using (Ajax.BeginForm(new AjaxOptions { }))
{
    @Html.ValidationSummary(false)
    
    <p>
        <span class="unobtrusive-remove"><input type="submit" value="Speichern" /> | </span>
        @Html.ActionLinkButton("Neue Eigenschaft", "Create", new { }, "", ButtonClass.Primary)
    </p>
    <table class="table table-bordered table-striped dnd">
       <thead>
        <tr class="nodrop">
            <th>
                Position
            </th>
            <th>
                Name
            </th>
            <th>
                Datentyp
            </th>
            <th>
                Systemfeld
            </th>
            <th>
                Spalte
            </th>
            <th>
                Standard
            </th>
            <th></th>
        </tr>

        </thead>
        <tbody>
    @for (var idx = 0; idx < Model.Items.Count; idx++)
    {
        <tr id="@Html.Raw(Model.Items[idx].Id.ToString())">
            <td class="dnd-idx">
                @Html.EditorFor(m => m.Items[idx].Position)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].Caption)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].DataTypeAsText)
            </td>
            <td>
                @Html.DisplayFor(m => m.Items[idx].IsSystem)
            </td>
            <td>
                @Html.EditorFor(m => m.Items[idx].IsColumn)
            </td>
            <td>
                @Html.EditorFor(m => m.Items[idx].IsDefault)
            </td>
            <td>
                @Html.HiddenFor(m => m.Items[idx].Id)

                @Html.ActionLinkButton("Bearbeiten", "Edit", new { id = Model.Items[idx].Id })
                @if (!Model.Items[idx].IsSystem)
                {
                    @Html.ActionLinkButton("Löschen", "Delete", new { id = Model.Items[idx].Id, version = Model.Items[idx].Version }, "", ButtonClass.Danger)
                }
            </td>
        </tr>
    }
   </tbody>
    </table>
    <p>
        <span class="unobtrusive-remove"><input type="submit" value="Speichern" /> | </span>
        @Html.ActionLinkButton("Neue Eigenschaft", "Create", new { }, "", ButtonClass.Primary)
    </p>
}


@*<!--<script type="text/javascript">
    function mysuccess(data) {
        $('#message-box-container').empty().append(data.message);


        var table = $("table.dnd");
        for (var idx = 0; idx < data.data.length; idx++) {
            var item = data.data[idx];

            //alert(item.id);
            var input = $(table).find('#Items_' + idx + '__Version');
            input.val(item.version);
            //alert(input.id + "; wert= " + input.val());

            $(table).find('input[value="' + item.id + '"]').each(function (index) {
                if($(this).
            });
        }
        
    }
</script>-->*@