@model SendTestEmailViewModel

    @Html.HiddenFor(m => m.TestHost)
    @Html.HiddenFor(m => m.TestUserName)
    @Html.HiddenFor(m => m.TestPassword)
    @Html.HiddenFor(m => m.TestFrom)

    <div class="control-group">
        @Html.LabelFor(m => m.TestTo, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(m => m.TestTo)
            @Html.ValidationMessageFor(m => m.TestTo)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.TestBodyTemplate, new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(m => m.TestBodyTemplate, new { style = "width: 300px; height: 200px; font-family:Monospace" })
            @Html.ValidationMessageFor(m => m.TestBodyTemplate)
        </div>
    </div>