@using Phundus.Web
@model Phundus.Core.IdentityAndAccess.Queries.UserDto[]
           
@{
    ViewBag.Title = "Benutzer";
}

<h2>Benutzer</h2>
<p></p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>J+S-Nummer</th>
        <th>Vorname</th>
        <th>Name</th>
        <th>E-Mail-Adresse</th>
        <th>Bestätigt</th>
        <th>Rolle</th>
        <th>Gesperrt</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var each in Model) {
        <tr id="user-@each.Id">
            <td>
                @Html.DisplayFor(m => each.JsNumber)
            </td>
            <td>
                @Html.DisplayFor(m => each.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => each.LastName)
            </td>
            <td>
                @Html.DisplayFor(m => each.Email)
            </td>
            <td>
                @Html.DisplayFor(m => each.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(m => each.RoleName)
            </td>
            <td name="isLockedOut">
                @Html.DisplayFor(m => each.IsLockedOut)
            </td>
            <td>
                @Html.ActionLink(new Appearance { Caption = "Bearbeiten", Button = Button.Normal }, UsersActionNames.Edit, new { id = each.Id })
                @Ajax.ActionLink(new Appearance { Caption = "Entsperren", Button = Button.Danger }, UsersActionNames.Unlock, new { id = each.Id }, new AjaxOptions { Confirm = "Möchten Sie diesen Benutzer wirklich entsperren?", OnSuccess = "fundus.users.unlocked", HttpMethod = "POST" }, new { style = each.IsLockedOut ? "" : "display: none;" })
                @Ajax.ActionLink(new Appearance { Caption = "Sperren", Button = Button.Inverse }, UsersActionNames.LockOut, new { id = each.Id }, new AjaxOptions { Confirm = "Möchten Sie diesen Benutzer wirklich sperren?", OnSuccess = "fundus.users.locked", HttpMethod = "POST" }, new { style = !each.IsLockedOut ? "" : "display: none;" })
            </td>
        </tr>
        }
    </tbody>
</table>
