@model PropertyDefinitionViewModel
           
@{
    ViewBag.Title = "Details";
}

@section Breadcrumbs {
     @Html.ActionLink("Artikel", "Index", "Article") &gt;
     @Html.ActionLink("Eigenschaften", "List") &gt;
     Details
}

<h2>Eigenschaftdetails</h2>

@Html.DisplayForModel()

<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index") |
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Item.Id })
    @if (!Model.Item.IsSystem) {
                @Html.Raw(" | ")
                @Html.ActionLink("Löschen", "Delete", new { id = Model.Item.Id })
    }
</p>
