@model phiNdus.fundus.Web.Models.FeedbackModel

@{
    ViewBag.Title = "Feedback";
}

<h2>@ViewBag.Title</h2>
<p></p>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Comment)
        @Html.TextAreaFor(m => m.Comment, new { Style = "width: 500px;", Rows = 20, @class="form-control" })
        @Html.ValidationMessageFor(m => m.Comment)
    </div>

    <div class="form-group">
        <input class="btn-primary btn" type="submit" value="Senden" />
        <a class="btn" href="/">Abbrechen</a>
    </div>
}
