@using Phundus.Web
@inherits System.Web.Mvc.WebViewPage<dynamic>
              
<p class="navbar-text pull-right">
    @if (Request.IsAuthenticated && User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Warenkorb", CartActionNames.Index, ControllerNames.Cart, null, new {id = "cart"})
        @:|

        @Html.Raw("Angemeldet als ")@Html.ActionLink(User.Identity.Name, AccountActionNames.Profile, ControllerNames.Account, new {}, new {@class = "loggedOnTag"})
        @:(@Html.ActionLink("Abmelden", AccountActionNames.LogOff, ControllerNames.Account, new {}, new {@class = "logOffTag"}))
    }
    else
    {
        @Html.ActionLink("Registrieren", AccountActionNames.SignUp, ControllerNames.Account)
        @:|
        @Html.ActionLink("Anmelden", AccountActionNames.LogOn, ControllerNames.Account)
    }
</p>