@model FieldViewModel

<div class="editor-label">
    @Html.LabelFor(m => m.Caption)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Caption)
    @Html.ValidationMessageFor(m => m.Caption)
</div>

@if (!Model.IsSystem)
{
    <div class="editor-label">
        @Html.LabelFor(m => m.DataType)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(m => m.DataType, Model.FieldDataTypes)
        @Html.ValidationMessageFor(m => m.DataType)

    </div>
}

<div class="editor-label">
    @Html.LabelFor(m => m.IsDefault)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.IsDefault)
</div>
