@model FieldDefinitionViewModel

<div class="editor-label">
    @Html.LabelFor(m => m.Item.Caption, "Name")
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Item.Caption)
    @Html.ValidationMessageFor(m => m.Item.Caption)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.Item.DataType, "Datentyp")
    <p>Achtung, ich, Inder, bin zu blöd den richtigen Wert vorzubelegen (o:</p>
</div>
<div class="editor-field">
    @if (Model.Item.IsSystem)
    {
        @Html.DisplayFor(m => m.Item.DataType)
    }
    else
    {
        @Html.DropDownListFor(m => m.Item.DataType, Model.FieldDataTypes)
        @Html.ValidationMessageFor(m => m.Item.DataType)
    }
</div>
<div class="editor-label">
    @Html.LabelFor(m => m.Item.IsSystem, "Systemeigenschaft")
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Item.IsSystem)
</div>
