@model PropertyValueViewModel
@using phiNdus.fundus.Core.Business.Dto
           
<div class="control-group" id="@Html.IdFor(m => m)">
    @switch (Model.DataType)
    {
        case FieldDataType.Boolean:
                @Html.LabelFor(m => m.BooleanValue, Model.Caption) break;
        default:
                @Html.LabelFor(m => m.StringValue, Model.Caption) break;
    }
    <div class="controls">
        @Html.HiddenFor(m => m.IsDeleted)
        @Html.HiddenFor(m => m.PropertyDefinitionId)
        @Html.HiddenFor(m => m.PropertyValueId)

        @switch (Model.DataType)
        {
            case FieldDataType.Boolean:
                @Html.CheckBoxFor(m => m.BooleanValue); break;
            case FieldDataType.RichText:
                @Html.TextAreaFor(m => m.StringValue, new { @class = "span4", rows="10" }); break;
                break;                                                     
            default:
                @Html.TextBoxFor(m => m.StringValue); break;
        }
        <span class="help-inline">
            <a href="#" class="btn btn-danger" onclick="ae.removeField('@Html.IdFor(m => m)', '@Model.Caption', @Model.PropertyDefinitionId); return false;">Entfernen</a>
        </span>
    </div>
</div>


