@model phiNdus.fundus.Business.Dto.UserDto[]
           
@{
    ViewBag.Title = "Benutzer";
}

@section Breadcrumbs {
     @Html.ActionLink("Benutzer", "Index") &gt; &Uuml;bersicht
}

<h2>Benutzer</h2>
<p></p>
<table class="table table-bordered table-striped">
    <tr>
        <th>Vorname</th>
        <th>Name</th>
        <th>E-Mail-Adresse</th>
        <th>J+S-Nummer</th>
        <th>Bestätigt</th>
        <th>Rolle</th>
        <th></th>
    </tr>

@foreach (var each in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => each.FirstName)
        </td>
        <td>
            @Html.DisplayFor(m => each.LastName)
        </td>
        <td>
            @Html.DisplayFor(m => each.Email)
        </td>
        <td>
            @Html.DisplayFor(m => each.JsNumber)
        </td>
        <td>
            @Html.DisplayFor(m => each.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(m => each.RoleName)
        </td>
        <td>
            @Html.ActionLink(new Appearance { Caption = "Bearbeiten", Button = Button.Normal }, "Edit", new { id = each.Id })
        </td>
    </tr>
}

</table>
