@model ArticleViewModel



@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Version)

<div class="row-fluid">
    <div class="span6">
        
        <div class="control-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.Brand, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(m => m.Brand)
                @Html.ValidationMessageFor(m => m.Brand)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.Price, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(m => m.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.GrossStock, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(m => m.GrossStock)
                @Html.ValidationMessageFor(m => m.GrossStock)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.Color, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(m => m.Color)
                @Html.ValidationMessageFor(m => m.Color)
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="control-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(m => m.Description, new { @class = "span6 tinymce-init", rows = "10" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.Specification, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(m => m.Specification, new { @class = "span6 tinymce-init", rows = "10" })
                @Html.ValidationMessageFor(m => m.Specification)
            </div>
        </div>
    </div>
</div>

