@model MyOrdersViewModel

@{
    ViewBag.Title = "Meine Bestellungen";
}

<h2>@ViewBag.Title</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Datum</th>
            <th>Total</th>
            <th>Status</th>
            <th style="width: 165px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
            <tr>
                <td class="no-data" colspan="3">Keine Bestellungen vorhanden.</td>
            </tr>
        }
        else
        {
            foreach (var each in Model.Items)
            {
                <tr>
                    <td>@each.Id</td>
                    <td>@Html.DisplayFor(m => each.CreateDate)</td>
                    <td style="text-align: right;">@Html.DisplayFor(m => each.TotalPrice)</td>
                    <td>@Html.DisplayFor(m => each.Status)</td>
                    <td>
                        @Html.ActionLink(new Appearance { Caption = "Details", Button = Button.Normal }, "Details", new { id = each.Id })
                        @Html.ActionLink(new Appearance { Caption = "PDF drucken", Button = Button.Normal }, "Print", new { id = each.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

