@inherits System.Web.Mvc.WebViewPage<dynamic>
              
<p class="navbar-text pull-right">
@if (Request.IsAuthenticated)
{   
    {
        // hierrauf bin ich nicht wirklich Stolz, Änderungsvorschläge sind willkommen..
        //var stateManager = Rhino.Commons.IoC.Resolve<phiNdus.fundus.Web.State.IStateManager>();
        //var cartState = stateManager.Load<phiNdus.fundus.Web.Models.CartModel>();
        //(" + cartState.Items.Count + ")
        @Html.ActionLink("Warenkorb", "Index", "Cart", null, new { id = "cart" }) @:|
    }
    @Html.ActionLink(User.Identity.Name, "Profile", "Account") @:|
    @Html.ActionLink("Abmelden", "LogOff", "Account")
}
else
{
    @Html.ActionLink("Registrieren", "SignUp", "Account") @:|
    @Html.ActionLink("Anmelden", "LogOn", "Account")
}
</p>