@using Phundus.Web
@model dynamic
@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/#/organizations/@Model.OrganizationId">Home</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/orders">Bestellungen</a></li>
    <li role="presentation" class="active"><a href="/#/organizations/@Model.OrganizationId/articles">Material</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/members">Mitglieder</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/applications">Beitrittsanfragen</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/settings">Einstellungen</a></li>
    <li role="presentation"><a href="/management/@Model.OrganizationId#/files">Dateien</a></li>
</ul>

<h2>Material @Model.Id</h2>

<div class="tabbable" style="margin-top:10px">
    <ul class="nav nav-tabs">
        <li class="@Html.ActiveTab("Article", new string[] { "Edit", "Fields" })">@Ajax.ActionLink("Eigenschaften", ArticlesActionNames.Fields,new { id = Model.Id }, new AjaxOptions {
            HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})</li>

        <li class="@Html.ActiveTab("Article", new string[] { "Images"})">@Ajax.ActionLink("Dateien", ArticlesActionNames.Images, new { id = Model.Id }, new AjaxOptions {
            HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})</li>

        <li class="@Html.ActiveTab("Article", new string[] { "Availability" })">@Ajax.ActionLink("Verfügbarkeit", ArticlesActionNames.Availability, new { id = Model.Id }, new AjaxOptions {
            HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})</li>

        <li class="@Html.ActiveTab("Article", new string[] { "Reservations" })">@Ajax.ActionLink("Reservationen", ArticlesActionNames.Reservations, new { id = Model.Id }, new AjaxOptions { 
            HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})</li>
    </ul>
        
    <div class="tab-content" id="tab-content" style="margin-top:10px">
        @RenderBody()
    </div>
</div>


