@using Phundus.Web
@model dynamic
@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Material</h2>
    
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="@Html.ActiveTab("article", new string[] { "Edit", "Fields", "edit", "fields" })">
            @Ajax.ActionLink("Eigenschaften", ArticlesActionNames.Fields,new { id = Model.Id }, new AjaxOptions {
                HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})
        </li>


        <li class="@Html.ActiveTab("article", new string[] { "Images", "images"})">
            @Ajax.ActionLink("Dateien", ArticlesActionNames.Images, new { id = Model.Id }, new AjaxOptions {
                HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})
        </li>


        <li class="@Html.ActiveTab("article", new string[] { "Categories", "categories"})">
            @Ajax.ActionLink("Kategorien", ArticlesActionNames.Categories, new { id = Model.Id }, new AjaxOptions {
                HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})
        </li>
        
        @if (User.IsInRole("Admin"))
        {
            <li class="@Html.ActiveTab("inventory", new[] {"index"})">
                <a href="@Url.Content("~/inventory#/articles/" + Model.Id + "/stocks")">Bestand</a>
            </li>
        }
        
        <li class="@Html.ActiveTab("article", new string[] { "Availability", "availability" })">
            @Ajax.ActionLink("Verfügbarkeit", ArticlesActionNames.Availability, new { id = Model.Id }, new AjaxOptions {
                HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})
        </li>
        
        @if (User.IsInRole("Admin"))
        {
            <li class="@Html.ActiveTab("reservations2", new[] {"index"})">
                <a href="@Url.Content("~/inventory#/articles/" + Model.Id + "/reservations")">Reservationen 2</a>
            </li>
        }

        <li class="@Html.ActiveTab("article", new string[] { "Reservations", "reservations" })">
            @Ajax.ActionLink("Reservationen", ArticlesActionNames.Reservations, new { id = Model.Id }, new AjaxOptions { 
                HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab-content" }, new { data_toggle="tab"})
        </li>
    </ul>
        
    <div class="tab-content">
        <div id="tab-content">
            @RenderBody()
        </div>        
    </div>  
</div>


