@model ArticlesTableViewModel
@{
    ViewBag.Title = "Material";
}

<h2>@ViewBag.Title</h2>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Id
        </th>
        @foreach (var heading in Model.Headings)
        {
            <th>
                @heading.Caption
            </th>
        }
        <th style="width: 230px;"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Articles) {
        <tr>
            <td>
                @item.Id.ToString()
            </td>
            @foreach (var heading in Model.Headings)
            {
                <td>
                    @if (item.IsDiscriminator(heading.Id))
                    {
                        @Html.Raw("<i>D</i>")
                    }
                    else
                    {
                        @item.GetPropertyValue(heading.Id)
                    }
                </td>
            }
             <td>
                <div class="btn-toolbar" style="margin: 0;">
                    <div class="btn-group btn-small">
                        <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-small">Bearbeiten</a>
                        <a href="#" data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Fields", new { id = item.Id})">Eigenschaften</a></li>
                            <li><a href="@Url.Action("Images", new { id = item.Id})">Dateien</a></li>
                            <li><a href="@Url.Action("Categories", new { id = item.Id})">Kategorien</a></li>
                            <li><a href="@Url.Action("Availability", new { id = item.Id})">Verfügbarkeit</a></li>
                        </ul>
                    </div>
                    <div class="btn-group btn-small">
                        @Html.ActionLink("Löschen", ArticlesActionNames.Delete, ControllerNames.Articles, new { id = item.Id, version = item.Version }, new { @class = "btn btn-danger btn-small"})
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
